* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }

#navbar {
  position: fixed;
  top: 0;
  min-width: 290px;
  height: 100%;
  border-right: solid rgba(0, 22, 22, 0.4); }
  @media (max-width: 815px) {
    #navbar {
      position: absolute;
      width: 100%;
      max-height: 275px;
      z-index: 1;
      background: white;
      border: none;
      border-bottom: 2px solid; } }
  #navbar header {
    font-size: 1.8rem;
    color: black;
    padding: 10px 20px; }
    @media only screen and (max-width: 815px) {
      #navbar header {
        text-align: center; } }
  #navbar ul {
    height: 77%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0; }
    #navbar ul li {
      padding: 10px 20px;
      border-top: 1px solid #000; }
      #navbar ul li a {
        text-decoration: none;
        color: #4d4e53; }

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 110px; }
  @media only screen and (max-width: 815px) {
    #main-doc {
      margin-top: 275px;
      margin-left: 0; } }
  #main-doc .main-section header {
    font-size: 1.8rem;
    color: black; }
  #main-doc .main-section article {
    margin: 15px; }
    #main-doc .main-section article p {
      margin: 16px 0; }
    #main-doc .main-section article ul {
      padding-left: 40px; }
    #main-doc .main-section article code {
      background: #f7f7f7;
      page-break-inside: avoid;
      max-width: 100%;
      overflow: auto;
      display: block;
      word-wrap: break-word;
      margin: 10px;
      padding: 15px; }
